<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configs SELEFILE="D:\ProgramFiles\RT-ThreadStudio\workspace\AT32F435\Debug\rtthread.bin" SAVEFILE="D:\ProgramFiles\RT-ThreadStudio\workspace\AT32F435\Debug\rtthread.rbl" COMPRESS="0" CRYPT="0" KEY="" IV="" NAME="app" VERSION="2" />
</configuration>